@import url(../global/common.css);

:host {
    display: contents;
    flex-direction: column;
}


.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 48.9rem;
}

#Timer {
    font-size: 1.333em;
    display: flex;
    justify-items: flex-end;
    margin-left: auto;
    padding: var(--padding-unit);
}

#Board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a-bit-grid {
    font-size: 2.97em;

    margin: var(--padding-unit);
}

#TargetGrid {
    font-size: 2.115em;
    opacity: .9;
}

#Control {
    flex: 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

#Footer {
    padding: var(--padding-unit);
    background-color: var(--lowlight-color);

    display: flex;
    align-items: center;
    order: 2;
}

#Footer .content {
    max-width: 56.5rem;
}

#InputRowValue {
    margin: auto;
    font-size: 4em;
    line-height: .5;
    text-align: center;
    flex: 1 1 50%;
    max-width: 50rem;
}

#InputRowValue[aria-selected="true"] {
    color: var(--background-color);
    background-color: var(--color);
    border-radius: var(--border-radius);
}

#InputRowValue small {
    font-size: .4em;
}

#Input {
    font-size: 2em;
    flex: 1 1 50%;
    max-width: 50rem;
}

a-notifications {
    font-size: .88em;
}

.scores p {

    display: grid;
    grid-template-columns: 10em 1fr;
}