:host {
    display: contents;
}

#Board {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#Timer {
    margin-left: auto;
}

a-bit-grid {
    font-size: 3.11em;
    padding: .2em;
}

#TargetGrid {
    font-size: 2.2em;
    opacity: .9;
}

#Control {
    flex: 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

#Footer {
    display: flex;
    align-items: center;
}

#InputRowValue {
    flex-grow: 1;
    font-size: 4em;
    text-align: center;
}

#InputRowValue small {
    font-size: .4em;
}

#Input {
    font-size: 2em;
    flex: 0 0 auto
}