@import url(../global/common.css);

:host {
    display: contents;
    flex-direction: column;
}

#Timer {
    font-size: 1.333em;
    display: flex;
    justify-items: flex-end;

    padding: var(--padding-unit);
}

#Board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a-bit-grid {
    font-size: 2.97em;

    margin: var(--padding-unit);
}

#TargetGrid {
    font-size: 2.115em;
    opacity: .9;
}

#Control {
    flex: 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

#Footer {
    padding: var(--padding-unit);
    background-color: var(--lowlight-color);

    display: flex;
    align-items: center;
    order: 2;
}

#InputRowValue {
    margin: auto;
    font-size: 4em;
    line-height: .5;
    text-align: center;
}

#InputRowValue[aria-selected="true"] {
    color: var(--background-color);
    background-color: var(--color);
    border-radius: var(--border-radius);
}

#InputRowValue small {
    font-size: .4em;
}

#Input {
    font-size: 2em;
    flex: 0 0 auto
}

a-notifications {
    font-size: .88em;
}