@import url(../global/common.css);

:host {
    position: fixed;
    inset: 0;

    user-select: none;
    pointer-events: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-items: center;

    z-index: 1000;

    --scope-header-background-color: var(--notifications-header-background-color, rgba(255, 255, 255, .025));
    --scope-footer-background-color: var(--notifications-header-background-color, rgba(0, 0, 0, .05));

    --scope-border-radius: var(--notifications-border-radius, var(--border-radius));
    --scope-padding: 0 var(--notifications-padding, 20px);
    --scope-animation-duration: var(--notifications-animation-duration, .2s) --scope-overlay-color: var(--notifications-overlay-color, rgba(0, 0, 0, .5));

    --scope-overlay-color: var(--notifications-overlay-color, hsla(var(--primary-h), 10%, var(--primary-l-low), .667));
}

.notification {

    user-select: text;
    pointer-events: all;

    grid-column: 1;
    grid-row: 1;

    max-width: 95vw;
    max-height: 95vh;

    display: flex;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--scope-animation-duration) ease-in-out;

    background: var(--background-color);

    border-radius: var(--scope-border-radius);
    box-shadow: var(--shadow-large);
}

.shown .content {
    opacity: 1;
    transform: translateY(0);
}

.modal::before {
    content: '';
    z-index: -1;

    position: fixed;
    inset: 0;

    opacity: 0;
    background: var(--scope-overlay-color);
    transition: all var(--scope-animation-duration) ease-in-out;
}

.shown.modal::before {
    opacity: 1;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--scope-header-background-color);
}

.title {
    flex: 1;
}

.close {
    cursor: pointer;
    padding-left: var(--scope-padding);
}

.body {
    overflow: hidden auto;
}

.footer {
    display: flex;
    align-items: center;
    background-color: var(--scope-footer-background-color);
}

section {
    padding: var(--scope-padding);
}

section+section {

    padding-top: var(--scope-padding);
}

.sharing .not-shared {
    display: none;
}