* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.3em;
}

p,
button {
    font-size: 1.2em;
}

th,
td {
    padding: 0;
}

:disabled {
    filter: contrast(.5);
}

input,
button {
    font: inherit;
    font-size: 1rem;
}

input {
    min-width: 0;
    color: var(--input-color);
    background-color: var(--input-background-color);
}

button {
    z-index: 1;
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);
    padding: calc(2 * var(--padding-unit));
    transition: filter ease .2s;
}

button:hover {
    filter: var(--hover-filter);
}